.task_card_container {
  padding: 1rem;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  background-color: var(--gray-500);
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.task_card_container.finished {
  border-color: var(--gray-500);
}

.task_card_container + .task_card_container {
  margin-top: 0.75rem;
}

.task_card_container .finished_task_check_button {
  border: none;
  background-color: transparent;
  line-height: 0;
}

.task_card_container .task_description {
  flex-grow: 1;
}

.task_card_container .task_description.finished {
  color: var(--gray-300);
  text-decoration: line-through;
}

.task_card_container .trash_button {
  border: none;
  margin: -0.25rem -0.25rem 0 0;
  background-color: transparent;
  line-height: 0;
}

.trash_button img {
  height: 2rem;
  width: 2rem;
}
